/******************************************************
******************* GENERAL ***************************
*******************************************************/

*{
      box-sizing: border-box;
      transition-duration: 0.3s;
}

body{
      margin: 0;
      padding: 0;
      font-family: 'Bitter', serif;
}




/******************************************************
********************************************************
********************************************************
******************* MOBILE VERSION *********************
********************************************************
********************************************************
*******************************************************/


h1, h2, h3, h4, h5, p{
      text-align: center;
}

h1, h2, h3{
      font-weight: 800;
}


h1{
      font-size: 30px;

}


h2{
      font-size: 21px;
}

h3{
      font-size: 18px;
}

h4{
      font-size: 21px;
}


h5{
      font-size: 18px;
      line-height: 1.8rem;
}


p{
      font-size: 14px;
      font-weight: 200;
      line-height: 1.5rem;
}


article{
      margin-bottom: 3rem;
}

/******************************************************
******************* HEADER ***************************
*******************************************************/

header{
      width: auto;
      height: 5rem;
      background-color: #607D8B;
      position: relative;
      margin-bottom: 4rem;
}







   /*******************************
   ********MOBILE MENU ************/






.header-container{
      display: inline-flex;
      width: 100%;
      margin-top: 2%;
}



.bg-light {
    background-color: #607D8B!important;
}


.nav-item{
      list-style: none;
}


.navbar-light .navbar-nav .nav-link{
      color: black;
}

a {
    color: black;
 }




/*nav{
      text-decoration: none;
}


.menu a, ul, li{
      text-decoration: none;
}




 aside{
      display: inline-flex;
      width: 100%;
}*/




.socialAndCart{
      display: inline-table;
      position: absolute;;
}


.social{
      float: right;
      justify-content: space-between;
}


.fa-shopping-cart{
      font-size: 1rem;
      float: right;
      margin-right: 1rem;
}



.fa-facebook-square, .fa-linkedin-square, .fa-github-square{
      font-size: 1.3rem;
      margin-right: 0.5rem;
}




/******************************************************
******************* FOOTER ***************************
*******************************************************/

footer{
      width: auto;
      height: auto;
      background-color:#607D8B;
}

#footerContent{
      padding-top: 1rem;
}

footer a{
      text-decoration: none;
      display: inline-flex;
      color: white;
      margin-right: 0.3rem;
}

footer li{
      display: inline-flex;
}


.navFooter{
      width: 100%;
      margin-bottom: 2rem;
      margin-left: 14%;
}


.navFooter ul{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
}


footer p{
      font-size: 15px;
      color: white;
      margin-right: 0.5rem;
}


.copyright{
      display: block;
      position: relative;
      width: 100%;
      margin-left: auto;
      margin-bottom: 1rem;
}

 .socialshare{
      display: inline-flex;
      width: 100%;
      margin-left: auto;
}


.socialshare p{
      display: inline-block;
      margin-left: auto;
}

.socialshare .socialLinksFooter{
      display: inline-flex;
      margin-right: auto;
}


.copyright p{
      text-align: center;
}


footer aside{
      display: block;
      margin-left: 0.5rem;
}


/******************************************************
******************* HOME ***************************
*******************************************************/




/******************************************************
******************* PRODUCT ***************************
*******************************************************/

h1{
      margin-bottom: 2rem;
}


.star{
      margin-left: 15%;
}


.fa-star{
      color: FFD108;

}

.fa-star-o{
      color: grey;
}

.stock{
      display: inline-flex;
      margin-left: auto;
      margin-right: auto;
}

.fa-check{
      display: inline-block;
      color: 006600;
      margin-right: 0.3rem;
}



.delivery{
      margin-bottom: 2rem;
}


.delivery i{
      margin-right: 0.5rem;
}


.productInfoHeader{
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      margin-left: -5%;
}


      /************************************
      ************ IMAGE GALLERY *********/
.imgProduct .one{
      display: block;
      margin: auto;
      margin-top: 3rem;
      margin-bottom: 3rem;
}

.infoUnderphoto{
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
}


.priceInfo{
      width: 7rem;
      height: 3.5rem;
      background-color: FF9505;
      margin-left: 20%;
      margin-right: 5%;
      border-radius: 10%;
}


.price{
      text-align: center;
      font-size: 25px;
      padding-top: 15%;
}

.infoUnderphoto button{
      height: 4rem;
      width: 12rem;
      margin-right: 20%;
      border: none;
      background-color: FF9505;
      font-size: 1rem;

}


.fa-shopping-basket{
      font-size: 1.5rem;
      margin-right: 0.5rem;
}



      /************************************
      ************ OFFER ****************/

.offer h3{
      margin-bottom: 0.5rem;
}

.offer {
      margin-bottom: 1rem;
}


      /************************************
      ************ DELIVERY****************/

.fa-truck{
      font-size: 1.5rem;
}


      /************************************
      ************ MAIN FEATURES *********/

.mainFeatures h3{
      margin-bottom: 1rem;
}


.check{
      width: 10rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 2.5rem;
}



.fa-check{
      font-size: 1.5rem;
}


.check p{
      text-align: left;
      font-size: 17px;
}






      /***************************************
      ************ FULL  DESCRIPTION *********/


.formation h4{
      margin-bottom: 1rem;
}

.formation h5{
      text-decoration: underline;
}

.formation section{
      margin-bottom: 1.5rem;
}

.formation p{
      margin-top: 0.5rem;
}

.formation i, .professionalExperiences i {
      margin-right: 0.5rem;
}


.informatique img{
      display: block;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
}


.informatique h4, .professionalExperiences h4{
      margin-bottom: 1rem;
}


.informatique h5, .professionalExperiences h5{
      margin-top: 0.5rem;
      text-decoration: underline;
}




.informatique ul, li{
      list-style: square inside;
      font-size: 15px;
      line-height: 1rem;
      text-align: left;
      padding-left: 10%;
}

.listInfoInformatique, .taskList{
      width: 450px;
      margin: auto;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      line-height: 0.5rem;
}



.listInfoInformatique li, .taskList li{
      line-height: 1.5rem;
}



.html5Css3Icon{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 185px;
}


.html5Css3Icon img{
      display: inline-flex;
}


/******************************************************
******************* CONTACT***************************
*******************************************************/
#map {
        height: 400px;
        width: 100%;
        margin-bottom: 3rem
}

h2{
      margin-bottom: 2rem;
}

.contactInfos p{
      font-size: 14px;
      line-height: 3rem;
}

.contactForm{
      width: 200px;
      margin-left: auto;
      margin-right: auto;
}

.contactForm label, .contactForm input, .contactForm button{
      margin-bottom: 1.5rem;
}

.inputContact{
      width: 20rem;
      height: 15rem;
}

.g-recaptcha{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
}

.contactForm button{
      border: none;
      background-color: #f39c12;
      width: 8rem;
      height: 3rem;
}


.alert-success{
      text-align: center;
      padding-top: 6%;
      height: 3rem;
      width: 18rem;
      background-color: #27ae60;
      margin-bottom: 2rem;
}


.alert-failed{
      text-align: center;
      padding-top: 6%;
      height: 3rem;
      width: 18rem;
      background-color: #e74c3c;
      margin-bottom: 2rem;
}



/******************************************************
********************************************************
********************************************************
******************* DESKOP VERSION *********************
********************************************************
********************************************************
*******************************************************/
@media screen and (min-width:950px) {



/******************************************************
******************** HEADER **************************
******************************************************/

.deskopMenu{
      display: contents;
      position: relative;
      width: 100%;
      margin-left: -3rem;
}





.deskopMenu li{
      display: inline-block;
      justify-content: space-between;
}




.deskopMenu a{
      margin: 0;
}



.deskopMenu ul, li, a{
      text-decoration: none;
      font-size: 18px;
      color: white;
}




.socialAndCart{
      display: inline-table;
      position: absolute;;
}


.social{
      float: right;
      justify-content: space-between;
}


.fa-shopping-cart{
      font-size: 2rem;
      float: right;
      margin-right: 1rem;
}



.fa-facebook-square, .fa-linkedin-square, .fa-github-square{
      font-size: 2rem;
      margin-right: 0.5rem;
}



.fa-facebook-square:hover, .fa-linkedin-square:hover, .fa-github-square:hover{
      color: red;
}




            /***************************************
            ************ FULL  DESCRIPTION *********/
.listInfoInformatique li, .taskList li{
      color: black;
}



/***************************************
************ LEGAL MENTIONS ************
*****************************************/

.mainLegalMentions h1{
      font-size:
}




}
